 {% extends "layout.njk" %}

   {% block head %}  <link rel="stylesheet" href="/recipes.css"> {% endblock %}

{% block content %}

<section class="cards">
      
     {% for item in items %}
          <div class="card" id="burger.png">
               <div class="card-image">
                    <img src="{{item.image}}" alt="image burger">
               </div>
               <div class="card-info">
                    <p>{{item.title}}</p>
                    <p class="author">por {{item.author}}</p>
               </div>
          </div>
     {% endfor %}
     
</section>

<script src="scripts.js"></script>

{% endblock %}