 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
     margin: 0;
     padding: 0;
}

body {
     font-family: 'Roboto', sans-serif;
     margin: 0 auto;
}
header {
    max-width: 940px;
    margin: 0 auto;
     
}

header img {
     margin: 30px 30px 0 0;
}
.about {
     margin:  0px 30px 20px 50px;
}

.about, .receipes {
     font-size: 16px;
     line-height: 26px;
     text-decoration: none;
     color: #111111;
}

.wrapper {
     background-color:  #FBDFDB;
     max-width: 940px;
     height: 366px;
     margin: 5vh auto;
     border-radius: 30px;
     
}

.wrapper img {
     float: right;
     margin-right: 100px;
     margin-top: 66px;
}
.wrapper-info {
     width: 300px;
     position: relative;
     top: 117px;
     left: 60px;
}

.wrapper-info strong {
     margin-bottom: 5px;
     font-size: 32px;
     line-height: 38px;
     font-weight: bolder;
}

.content {
     position:;
     top: 165px;
     left: 60px;
}



